

*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.pad-container{
    margin: 90px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
}

.pad-container >button{
    flex: 1 ;
    height: 90px;
    width: 110px;
    border-radius: 5px;
    cursor: pointer;
}

button.on{
    
}


