.sound-pad{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem;
    justify-items: center;
    align-items: center;   
    

}

.each-pad{
    list-style: none;
    height: 120px;
    width: 180px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    

}